{% extends "base.html" %}
{% block main %}
  <h1 class="display-5 fw-bold">The urlclaw will claw your URLs! 🦀🦀</h1>
  <p class="lead">
    Enter your URL belog and let ferris do it's magic!
  </p>
  <div class="col-lg-6 mx-auto">
    <form action="/" method="post">
      <div class="mb-3">
        <input type="url" placeholder="https://rust-lang.org" name="target" class="form-control form-control-lg">
      </div>
      <div class="mb-3">
        <input type="text" placeholder="i-am-so-short" name="short" class="form-control form-control-lg">
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Claw claw 🦀</button>
    </form>
  </div>
{% endblock %}
